@model TheCookieJar.Models.CookieSurvey

@{
    ViewBag.Title = "Take Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD

<h2>Survey</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <h3>1. Eating your Favorite cookie makes you feel________?</h3>
                <div class="col-md-10">
                    @{
                        var listItems1 = new List<SelectListItem>()

                         {
                             new SelectListItem {Text = "Relaxed", Value = "1"},
                             new SelectListItem {Text = "Indulgent", Value = "2"},
                             new SelectListItem {Text = "Like a kid Agin", Value = "3"}

                         };

                        @Html.DropDownListFor(m => m.Question1, listItems1)
                    }
                </div>
=======
<<<<<<< HEAD
<h2>Survey</h2>
=======
<h2>Cookies, YUM!</h2>
>>>>>>> 6c250c0c1b652b5dc6c2f65d7f505acca0d25f85


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Survey</h4>
<<<<<<< HEAD
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <h3>1. When eating your favorite cookie you feel_____?</h3>
            <div class="col-md-10">
                @{var listItems1 = new List<SelectListItem>
                               ()
               {
               new SelectListItem {Text = "Relaxed",   Value = "1"},
               new SelectListItem {Text = "Indulgent", Value = "2"},
               new SelectListItem {Text = "Like a Kid again", Value = "3"}
               };

                    @Html.DropDownListFor(m => m.Question1, listItems1)
                }
=======
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @*<div class="form-group">
            @Html.LabelFor(model => model.Question1, htmlAttributes: new {@class = "control -label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Question1, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Question1, "", new {@class = "text-danger"})
            </div>
        </div>*@

        <div class="form-group">
            <h4>How do you feel when you eat your favorite cookie?</h4>
            <div class="col-md-10" style="color: black">
                @{
                    var listItems1 = new List<SelectListItem>()
                    {
                        new SelectListItem {Text = "Relaxed", Value = "1"},
                        new SelectListItem {Text = "Indulgent", Value = "2"},
                        new SelectListItem {Text = "Like a Kid Again", Value = "3"}
                    };

                    @Html.DropDownListFor(model => model.QuestionAnswer, listItems1)
                }
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.Question2, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Question2, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Question2, "", new {@class = "text-danger"})
>>>>>>> 6c250c0c1b652b5dc6c2f65d7f505acca0d25f85
>>>>>>> 79e1b9073d2aa6d55b4156a7deac94afc7732d5f
            </div>
        </div>*@

<<<<<<< HEAD
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <h3>2. What type of cookie do you prefer________?</h3>
                <div class="col-md-10">
                    @{
                        var listItems2 = new List<SelectListItem>()

                         {
                             new SelectListItem {Text = "Light and Flakey", Value = "1"},
                             new SelectListItem {Text = "Lots of Chocolate", Value = "2"},
                             new SelectListItem {Text = "Soft and Chewy", Value = "3"}

                         };

                        @Html.DropDownListFor(m => m.Question2, listItems2)
                    }
                </div>
=======
        <div class="form-group">
<<<<<<< HEAD
            <h3>2. What type of cookie do you enjoy____?</h3>
            <div class="col-md-10">
                @{var listItems2 = new List<SelectListItem>
                               ()
               {
                new SelectListItem {Text = "Light and Flakey",   Value = "1"},
              new SelectListItem {Text = "Lots of Chocolate", Value = "2"},
              new SelectListItem {Text = "Soft and Chewy", Value = "3" }
               };

                    @Html.DropDownListFor(m => m.Question2, listItems2)
                }
            </div>
        </div>

        <div class="form-group">
            <h3>3. On a rainy day what do you like to do____</h3>
            <div class="col-md-10">
                @{var listItems3 = new List<SelectListItem>

               {
                new SelectListItem {Text = "Reading a book",   Value = "1"},
              new SelectListItem {Text = "Museum", Value = "2"},
              new SelectListItem {Text = "Playing games", Value = "3" }};
                

                @Html.DropDownListFor(m => m.Question3, listItems3)
=======
            <h4>What is your favorite type of cookie?</h4>
            <div class="col-md-10" style="color: black">
                @{
                    var listItems2 = new List<SelectListItem>()
                    {
                        new SelectListItem {Text = "Light and Flakey", Value = "1"},
                        new SelectListItem {Text = "Lots of Chocolate", Value = "2"},
                        new SelectListItem {Text = "Soft and Chewy", Value = "3"}
                    };
                    @Html.DropDownListFor(model => model.QuestionAnswer, listItems2)
                }
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.Question3, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Question3, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Question3, "", new {@class = "text-danger"})
>>>>>>> 79e1b9073d2aa6d55b4156a7deac94afc7732d5f
            </div>
        </div>*@

<<<<<<< HEAD
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <h3>3. On a rainy day what do you like to do____</h3>
                <div class="col-md-10">
                    @{
                        var listItems3 = new List<SelectListItem>

                         {
                             new SelectListItem {Text = "Reading a book", Value = "1"},
                             new SelectListItem {Text = "Museum", Value = "2"},
                             new SelectListItem {Text = "Playing games", Value = "3"}
                         };

                        @Html.DropDownListFor(m => m.Question3, listItems3)
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="submit" class="btn btn-default" />
            </div>
        </div>
                        }
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>

                        <div>
                            @Html.ActionLink("Survey Create", "Index")
                        </div>
                        }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

=======
        <div class="form-group">
            <h4>What's your favorite way to spend a rainy day?</h4>
            <div class="col-md-10" style="color: black">
                @{
                    var listItems3 = new List<SelectListItem>()
                    {
                        new SelectListItem {Text = "Reading a book", Value = "1"},
                        new SelectListItem {Text = "Museum", Value = "2"},
                        new SelectListItem {Text = "Playing games", Value = "3"}
                    };
                    @Html.DropDownListFor(model => model.QuestionAnswer, listItems3)
>>>>>>> 6c250c0c1b652b5dc6c2f65d7f505acca0d25f85
                }

            </div>
        </div>
<<<<<<< HEAD
=======
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="submit" class="btn btn-default"/>
>>>>>>> 6c250c0c1b652b5dc6c2f65d7f505acca0d25f85

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
                @*//onclick="window.location.href='@Url.Action("ProfileView")'"*@
            </div>
        </div>
    </div>
<<<<<<< HEAD
                    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

=======
    <div>
        @Html.ActionLink("Survey Create", "Index")
    </div>
}
>>>>>>> 6c250c0c1b652b5dc6c2f65d7f505acca0d25f85
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
>>>>>>> 79e1b9073d2aa6d55b4156a7deac94afc7732d5f
